
.view-parent {
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10pt;
    color: black;
    background-color: white;
    overflow: auto;
    touch-action: pan-x pan-y;
    max-width: 100%;
    width: fit-content;
}

.view-parent  * {
    white-space: nowrap;
    touch-action: pan-x pan-y;
}

.wab.header-grid {
    display: grid;
    grid-template-columns: 15fr 3.5fr 1.5fr;
    width: fit-content;
}


.wab.mission-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
}

.wab.split-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
}

.wab.basic-grid{
    display: grid;
    grid-template-columns: 6fr 43fr 19fr 19fr;
    width: fit-content;
}

.wab.title-cell {
    display: flex;
    grid-row: auto / span 3;
}

.wab.bold {
    font-weight: bold;
}

.wab.m {
    display: flex;
    align-items: center;
}
.wab.c {
    display: flex;
    justify-content: center;
}
.wab.r {
    display: flex;
    justify-content: flex-end;
}

.wab.push-right {
    margin-left: auto;
}


.wab.bl{
    border-left: 1px solid black;
}

.wab.bt{
    border-top: 1px solid black;
}

.wab.bb{
    border-bottom: 1px solid black;
}

.wab.br{
    border-right: 1px solid black;
}

.wab.tbl{
    border-left: 2px solid black;
}

.wab.tbt{
    border-top: 2px solid black;
}

.wab.tbb{
    border-bottom: 2px solid black;
}

.wab.tbr{
    border-right: 2px solid black;
}

.wab.pad{
    padding-left: 2px;
    padding-right: 2px;
}

.wab.span4{
    grid-column: span 3;
}